
## funtions

In [ ]:
#functions in python

def sum(a,b):
    return a+b
print(sum(2,3))

In [12]:
#default arguments
def sum(a,b=1):
    print(a+b)
sum(1)

2

In [13]:
#def sum(a=1,b):
   # print(a+b)
#sum(1,2)

In [14]:
#problems
#write a function to print a list
l=["srikanath","maganti","sravan"]


def print_list(l):
    for i in l:
        print(i,end=" ")
print_list(l)

srikanath maganti sravan

In [16]:
#factorial of a number
def fact(n):
    i=n
    s=1
    while i>0:
        s=s*i
        i=i-1
    return s
fact(4)

24

In [17]:
#function to convert usd to inr
def inr(usd):
    return usd*83
inr(2)

166

In [18]:
#function to find a given number is even or not
def even_odd(n):
    if(n%2==0):
        return "even"
    else:
        return "odd"
even_odd(2)

'even'

## recursion

In [20]:
 #print numbers in reverse order
def show(n):
    if(n==0):
        return
    print(n)
    show(n-1)
show(5)

5
4
3
2
1

In [22]:
#factorial using recurssion

def fact(n):
    if(n==1 or n==0):
  
        return 1
    else:
        return n*fact(n-1)
print(fact(5))

120

In [23]:
#sum of first n natural numbers
def add(n):
    if n==0:
        return 0
    else:
        return n+add(n-1)
add(5)

15

In [24]:
#write a recurssive function to print elements in a list 
l=[1,2,3,4,5]

def show(n):
    if(len(l)==n):
        return
    print(l[n])
    show(n+1)
show(0)

1
2
3
4
5