# NUMPY

In [1]:
from array import *
ar=array('i',[1,2,3,4])

In [2]:
ar

array('i', [1, 2, 3, 4])

In [3]:
for i in ar:print(i)

1
2
3
4

In [4]:
import sys
sys.getsizeof(ar)

96

In [5]:
import numpy as np

In [6]:
arr=np.array([1,2,3,4],dtype=int)

In [7]:
arr

array([1, 2, 3, 4])

In [8]:
arr.size

4

In [9]:
arr.nbytes

16

In [10]:
type(arr)

numpy.ndarray

In [11]:
len(arr)

4

In [12]:
arr.ndim

1

In [13]:
arr.shape

(4,)

In [14]:
arr.reshape(2,2)

array([[1, 2],
       [3, 4]])

In [15]:
arr.reshape(4,1)

array([[1],
       [2],
       [3],
       [4]])

In [16]:
arr.reshape(2,-1)

array([[1, 2],
       [3, 4]])

In [17]:
arr.shape=(2,2)

In [18]:
arr

array([[1, 2],
       [3, 4]])

In [19]:
x=[1,2,3]
y=[3,4,5]
z=[5,6,7]
ashaya=np.array([x,y,z])

In [20]:
ashaya

array([[1, 2, 3],
       [3, 4, 5],
       [5, 6, 7]])

In [21]:
r=range(1,10,2)

In [22]:
r

range(1, 10, 2)

In [23]:
for i in r:print(i)

1
3
5
7
9

In [24]:
r[4]

9

In [25]:
r[3]*2

14

In [26]:
for i in r:print(i)

1
3
5
7
9

In [27]:
sys.getsizeof(r)

48

In [28]:
rr=np.arange(1,10,2)

In [29]:
rr.nbytes

20

In [30]:
rrr=np.arange(24)

In [31]:
rrr.reshape(6,4,1)

array([[[ 0],
        [ 1],
        [ 2],
        [ 3]],

       [[ 4],
        [ 5],
        [ 6],
        [ 7]],

       [[ 8],
        [ 9],
        [10],
        [11]],

       [[12],
        [13],
        [14],
        [15]],

       [[16],
        [17],
        [18],
        [19]],

       [[20],
        [21],
        [22],
        [23]]])

In [32]:
a=np.array([1,4,3])
b=np.array([2,5,6])
np.add(a,b)

array([3, 9, 9])

In [33]:
np.multiply(a,b)

array([ 2, 20, 18])

In [34]:
s=np.array([[1,2],[3,4]])

In [35]:
s

array([[1, 2],
       [3, 4]])

In [36]:
np.sum(s)

10

In [37]:
np.sum(s,axis=0)

array([4, 6])

# PANDAS

In [38]:
import pandas as pd

In [39]:
import os

In [41]:
data_csv=pd.read_csv("D:\Data Science\Toyota.csv",index_col=0,na_values=["??"])

In [42]:
data_csv

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986.0,Diesel,90,1.0,0,2000,three,1165
1,13750,23.0,72937.0,Diesel,90,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...
1431,7500,NaN,20544.0,Petrol,86,1.0,0,1300,3,1025
1432,10845,72.0,NaN,Petrol,86,0.0,0,1300,3,1015
1433,8500,NaN,17016.0,Petrol,86,0.0,0,1300,3,1015
1434,7250,70.0,NaN,NaN,86,1.0,0,1300,3,1015
1435,6950,76.0,1.0,Petrol,110,0.0,0,1600,5,1114

In [43]:
data2=data_csv.copy(deep=False);

In [44]:
data2.index

Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
       ...
       1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435],
      dtype='int64', length=1436)

In [45]:
data2.columns

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

In [46]:
data2.size

14360

In [47]:
data2.shape

(1436, 10)

In [48]:
data2.memory_usage()

Index        11488
Price        11488
Age          11488
KM           11488
FuelType     11488
HP           11488
MetColor     11488
Automatic    11488
CC           11488
Doors        11488
Weight       11488
dtype: int64

In [49]:
data2.head(10)

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986.0,Diesel,90,1.0,0,2000,three,1165
1,13750,23.0,72937.0,Diesel,90,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90,0.0,0,2000,3,1170
5,12950,32.0,61000.0,Diesel,90,0.0,0,2000,3,1170
6,16900,27.0,NaN,Diesel,????,NaN,0,2000,3,1245
7,18600,30.0,75889.0,NaN,90,1.0,0,2000,3,1245
8,21500,27.0,19700.0,Petrol,192,0.0,0,1800,3,1185
9,12950,23.0,71138.0,Diesel,????,NaN,0,1900,3,1105

In [50]:
data2.tail()

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1431,7500,NaN,20544.0,Petrol,86,1.0,0,1300,3,1025
1432,10845,72.0,NaN,Petrol,86,0.0,0,1300,3,1015
1433,8500,NaN,17016.0,Petrol,86,0.0,0,1300,3,1015
1434,7250,70.0,NaN,NaN,86,1.0,0,1300,3,1015
1435,6950,76.0,1.0,Petrol,110,0.0,0,1600,5,1114

In [51]:
data2.at[4,"FuelType"]

'Diesel'

In [52]:
data2.iat[4,3]

'Diesel'

In [53]:
data2.head()

   Price   Age       KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986.0   Diesel  90       1.0          0  2000  three    1165
1  13750  23.0  72937.0   Diesel  90       1.0          0  2000      3    1165
2  13950  24.0  41711.0   Diesel  90       NaN          0  2000      3    1165
3  14950  26.0  48000.0   Diesel  90       0.0          0  2000      3    1165
4  13750  30.0  38500.0   Diesel  90       0.0          0  2000      3    1170

In [54]:
data2.iat[0,1]=1340

In [55]:
data2.head()

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,1340.0,46986.0,Diesel,90,1.0,0,2000,three,1165
1,13750,23.0,72937.0,Diesel,90,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90,0.0,0,2000,3,1170

In [56]:
data_csv

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,1340.0,46986.0,Diesel,90,1.0,0,2000,three,1165
1,13750,23.0,72937.0,Diesel,90,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...
1431,7500,NaN,20544.0,Petrol,86,1.0,0,1300,3,1025
1432,10845,72.0,NaN,Petrol,86,0.0,0,1300,3,1015
1433,8500,NaN,17016.0,Petrol,86,0.0,0,1300,3,1015
1434,7250,70.0,NaN,NaN,86,1.0,0,1300,3,1015
1435,6950,76.0,1.0,Petrol,110,0.0,0,1600,5,1114

In [57]:
data3=data_csv.copy(deep=True)

In [58]:
data3.iat[0,1]=450

In [59]:
data3

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,450.0,46986.0,Diesel,90,1.0,0,2000,three,1165
1,13750,23.0,72937.0,Diesel,90,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...
1431,7500,NaN,20544.0,Petrol,86,1.0,0,1300,3,1025
1432,10845,72.0,NaN,Petrol,86,0.0,0,1300,3,1015
1433,8500,NaN,17016.0,Petrol,86,0.0,0,1300,3,1015
1434,7250,70.0,NaN,NaN,86,1.0,0,1300,3,1015
1435,6950,76.0,1.0,Petrol,110,0.0,0,1600,5,1114

In [60]:
data_csv

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,1340.0,46986.0,Diesel,90,1.0,0,2000,three,1165
1,13750,23.0,72937.0,Diesel,90,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...
1431,7500,NaN,20544.0,Petrol,86,1.0,0,1300,3,1025
1432,10845,72.0,NaN,Petrol,86,0.0,0,1300,3,1015
1433,8500,NaN,17016.0,Petrol,86,0.0,0,1300,3,1015
1434,7250,70.0,NaN,NaN,86,1.0,0,1300,3,1015
1435,6950,76.0,1.0,Petrol,110,0.0,0,1600,5,1114

In [61]:
import pandas as pd
import os

In [62]:
data_csv=pd.read_csv("Toyota.csv",index_col=0,na_values=['??'])

In [63]:
data_csv

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986.0,Diesel,90,1.0,0,2000,three,1165
1,13750,23.0,72937.0,Diesel,90,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...
1431,7500,NaN,20544.0,Petrol,86,1.0,0,1300,3,1025
1432,10845,72.0,NaN,Petrol,86,0.0,0,1300,3,1015
1433,8500,NaN,17016.0,Petrol,86,0.0,0,1300,3,1015
1434,7250,70.0,NaN,NaN,86,1.0,0,1300,3,1015
1435,6950,76.0,1.0,Petrol,110,0.0,0,1600,5,1114

In [64]:
data_csv.index

Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
       ...
       1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435],
      dtype='int64', length=1436)

In [65]:
data_csv.columns

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

In [68]:
data_csv.size

14360

In [69]:
data_csv.shape

(1436, 10)

In [70]:
data_csv.memory_usage()

Index        11488
Price        11488
Age          11488
KM           11488
FuelType     11488
HP           11488
MetColor     11488
Automatic    11488
CC           11488
Doors        11488
Weight       11488
dtype: int64

In [71]:
data_csv.ndim

2

In [72]:
data_csv['Doors']

0       three
1           3
2           3
3           3
4           3
        ...
1431        3
1432        3
1433        3
1434        3
1435        5
Name: Doors, Length: 1436, dtype: object

In [73]:
data_csv.head(10)

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986.0,Diesel,90,1.0,0,2000,three,1165
1,13750,23.0,72937.0,Diesel,90,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90,0.0,0,2000,3,1170
5,12950,32.0,61000.0,Diesel,90,0.0,0,2000,3,1170
6,16900,27.0,NaN,Diesel,????,NaN,0,2000,3,1245
7,18600,30.0,75889.0,NaN,90,1.0,0,2000,3,1245
8,21500,27.0,19700.0,Petrol,192,0.0,0,1800,3,1185
9,12950,23.0,71138.0,Diesel,????,NaN,0,1900,3,1105

In [74]:
data_csv.tail()

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1431,7500,NaN,20544.0,Petrol,86,1.0,0,1300,3,1025
1432,10845,72.0,NaN,Petrol,86,0.0,0,1300,3,1015
1433,8500,NaN,17016.0,Petrol,86,0.0,0,1300,3,1015
1434,7250,70.0,NaN,NaN,86,1.0,0,1300,3,1015
1435,6950,76.0,1.0,Petrol,110,0.0,0,1600,5,1114

In [75]:
data_csv.at[4,'FuelType']

'Diesel'

In [76]:
data_csv.iat[4,3]

'Diesel'

In [77]:
data_csv.loc[1:4,'KM':'MetColor']

        KM FuelType  HP  MetColor
1  72937.0   Diesel  90       1.0
2  41711.0   Diesel  90       NaN
3  48000.0   Diesel  90       0.0
4  38500.0   Diesel  90       0.0

In [78]:
data_csv.dtypes

Price          int64
Age          float64
KM           float64
FuelType      object
HP            object
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

In [79]:
data_csv.select_dtypes(include="Int64",exclude=['object'])

      Price  Automatic    CC  Weight
0     13500          0  2000    1165
1     13750          0  2000    1165
2     13950          0  2000    1165
3     14950          0  2000    1165
4     13750          0  2000    1170
...     ...        ...   ...     ...
1431   7500          0  1300    1025
1432  10845          0  1300    1015
1433   8500          0  1300    1015
1434   7250          0  1300    1015
1435   6950          0  1600    1114

[1436 rows x 4 columns]

In [80]:
data_csv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(3), int64(4), object(3)
memory usage: 155.7+ KB

In [81]:
import numpy as np

In [82]:
np.unique(data_csv['CC'])

array([1300, 1332, 1398, 1400, 1587, 1598, 1600, 1800, 1900, 1975, 1995,
       2000], dtype=int64)

In [83]:
data_csv['MetColor'].dtype

dtype('float64')

In [84]:
data_csv['Price']=data_csv['Price'].astype('Float64')

In [85]:
data_csv["Price"].dtype

Float64Dtype()

In [86]:
data_csv['FuelType']=data_csv['FuelType'].astype('category')

In [87]:
data_csv['Doors'].nbytes

11488

In [88]:
data_csv['Doors'].dtype

dtype('O')

In [89]:
data_csv['Doors']=data_csv['Doors'].astype("category")

In [90]:
data_csv['Doors'].dtype

CategoricalDtype(categories=['2', '3', '4', '5', 'five', 'four', 'three'], ordered=False, categories_dtype=object)

In [91]:
data_csv['Doors'].nbytes

1492

In [92]:
data_csv['Doors'].replace("three",3,inplace=True)
data_csv['Doors'].replace("four",4,inplace=True)
data_csv['Doors'].replace("five",5,inplace=True)

In [93]:
data_csv['Doors'].dtype

CategoricalDtype(categories=['2', '3', '4', '5', 'five', 'four', 'three'], ordered=False, categories_dtype=object)

In [94]:
data_csv['Doors']

0       3
1       3
2       3
3       3
4       3
       ..
1431    3
1432    3
1433    3
1434    3
1435    5
Name: Doors, Length: 1436, dtype: category
Categories (7, object): ['2', '3', '4', '5', 5, 4, 3]

In [95]:
data_csv['Doors']=data_csv['Doors'].astype('int64')

In [96]:
data_csv['Doors']

0       3
1       3
2       3
3       3
4       3
       ..
1431    3
1432    3
1433    3
1434    3
1435    5
Name: Doors, Length: 1436, dtype: int64

In [97]:
data_csv['Doors'].dtypes

dtype('int64')

In [98]:
data_csv.isnull().sum()

Price          0
Age          100
KM            15
FuelType     100
HP             0
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

In [99]:
data_csv

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500.0,23.0,46986.0,Diesel,90,1.0,0,2000,3,1165
1,13750.0,23.0,72937.0,Diesel,90,1.0,0,2000,3,1165
2,13950.0,24.0,41711.0,Diesel,90,NaN,0,2000,3,1165
3,14950.0,26.0,48000.0,Diesel,90,0.0,0,2000,3,1165
4,13750.0,30.0,38500.0,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...
1431,7500.0,NaN,20544.0,Petrol,86,1.0,0,1300,3,1025
1432,10845.0,72.0,NaN,Petrol,86,0.0,0,1300,3,1015
1433,8500.0,NaN,17016.0,Petrol,86,0.0,0,1300,3,1015
1434,7250.0,70.0,NaN,NaN,86,1.0,0,1300,3,1015
1435,6950.0,76.0,1.0,Petrol,110,0.0,0,1600,5,1114

In [100]:
data_csv.insert(9,'kmranges',"%")

In [101]:
data_csv

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,kmranges,Weight
0,13500.0,23.0,46986.0,Diesel,90,1.0,0,2000,3,%,1165
1,13750.0,23.0,72937.0,Diesel,90,1.0,0,2000,3,%,1165
2,13950.0,24.0,41711.0,Diesel,90,NaN,0,2000,3,%,1165
3,14950.0,26.0,48000.0,Diesel,90,0.0,0,2000,3,%,1165
4,13750.0,30.0,38500.0,Diesel,90,0.0,0,2000,3,%,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,7500.0,NaN,20544.0,Petrol,86,1.0,0,1300,3,%,1025
1432,10845.0,72.0,NaN,Petrol,86,0.0,0,1300,3,%,1015
1433,8500.0,NaN,17016.0,Petrol,86,0.0,0,1300,3,%,1015
1434,7250.0,70.0,NaN,NaN,86,1.0,0,1300,3,%,1015
1435,6950.0,76.0,1.0,Petrol,110,0.0,0,1600,5,%,1114

In [102]:
for i in range(0,len(data_csv['KM'])):
    if(data_csv.at[i,'KM']<40000):
        data_csv.at[i,'knrange']="low"
    else:
         data_csv.at[i,'knrange']="high"

In [103]:
data_csv

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,kmranges,Weight,knrange
0,13500.0,23.0,46986.0,Diesel,90,1.0,0,2000,3,%,1165,high
1,13750.0,23.0,72937.0,Diesel,90,1.0,0,2000,3,%,1165,high
2,13950.0,24.0,41711.0,Diesel,90,NaN,0,2000,3,%,1165,high
3,14950.0,26.0,48000.0,Diesel,90,0.0,0,2000,3,%,1165,high
4,13750.0,30.0,38500.0,Diesel,90,0.0,0,2000,3,%,1170,low
...,...,...,...,...,...,...,...,...,...,...,...,...
1431,7500.0,NaN,20544.0,Petrol,86,1.0,0,1300,3,%,1025,low
1432,10845.0,72.0,NaN,Petrol,86,0.0,0,1300,3,%,1015,high
1433,8500.0,NaN,17016.0,Petrol,86,0.0,0,1300,3,%,1015,low
1434,7250.0,70.0,NaN,NaN,86,1.0,0,1300,3,%,1015,high
1435,6950.0,76.0,1.0,Petrol,110,0.0,0,1600,5,%,1114,low

In [104]:
print(data_csv['knrange'].value_counts())
data_csv.drop(['kmranges','kmrange'],axis=1,inplace=True)

knrange
high    1120
low      316
Name: count, dtype: int64

KeyError: "['kmrange'] not found in axis"

In [ ]:
data_csv

In [ ]:
data=data_csv.copy(deep=False)

In [ ]:
data

In [ ]:
data.insert(10,'age in years',0)

In [ ]:
data

In [ ]:
def age_converted(age):
    age=age/12;
    return age

In [ ]:
#exploratory data analysis

In [ ]:
pd.crosstab(index=data['FuelType'],columns="frequency",dropna=True)

In [ ]:
pd.crosstab(index=data['Automatic'],columns=data['FuelType'],dropna=True)

In [ ]:
pd.crosstab(index=data['Automatic'],columns=data['FuelType'],dropna=True,normalize=True)

In [ ]:
pd.crosstab(index=data['Automatic'],columns=data['FuelType'],dropna=True,normalize=True,margins=True)

In [ ]:
pd.crosstab(index=data['Automatic'],columns=data['FuelType'],dropna=True,margins=True,normalize='index')

In [ ]:
numerical=data.select_dtypes(exclude=['object','category'])

In [ ]:
numerical

In [ ]:
numerical.corr()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn

In [ ]:
data.dropna(axis=0,inplace=True)

In [ ]:
plt.scatter(data['Age'],data['Price'],c="pink")
plt.title("price and age graph")
plt.xlabel("Age")
plt.ylabel("price")
plt.show()

In [ ]:
data.isnull().sum()

In [ ]:
d=pd.read_csv("Toyota.csv",na_values=['??'],index_col=0)

In [ ]:
d

In [ ]:
d.isnull().sum()

In [ ]:
missing=d[d.isnull().any(axis=1)]

In [ ]:
missing

In [ ]:
d.describe()

In [ ]:
x=d['Age'].mean()

In [ ]:
x

In [ ]:
d['Age']=d['Age'].fillna(x)

In [ ]:
d.isnull().sum()

In [ ]:
d['KM'].fillna(d['KM'].median(),inplace=True)

In [ ]:
d.isna().sum()

In [ ]:
y=d['FuelType'].value_counts().index[0]

In [ ]:
d['FuelType'].fillna("hello",inplace=True)

In [ ]:
d.isnull().sum()

In [ ]:
#oops
class student:

    no_of_students=0
    def __init__(self,name,id,no):
        self.name=name
        self.id=id
        self.no=no
        student.no_of_students+=1
    def show_details(self):
        print(self.name,self.id,self.no)
s1=student("srikanth","s201081",9951720674)
s2=student("sravan","s201082",900012434)

s1.show_details()
s2.show_details()

print(student.no_of_students)

In [1]:
import numpy as np

In [2]:
np.full((3,4),4)

array([[4, 4, 4, 4],
       [4, 4, 4, 4],
       [4, 4, 4, 4]])

In [3]:
np.eye((2))

array([[1., 0.],
       [0., 1.]])

In [4]:
np.random.random((3,4))

array([[0.61040541, 0.31055079, 0.04327798, 0.1201728 ],
       [0.23712454, 0.15308542, 0.55777282, 0.29549625],
       [0.60289747, 0.36802664, 0.39508293, 0.60214494]])

In [18]:
a=np.array([1,2,3])
b=np.array([4,6,4])

In [11]:
np.vstack((a,b))

array([[1, 2, 3],
       [4, 6, 4]])

In [19]:
np.hstack((a,b))

array([1, 2, 3, 4, 6, 4])

In [20]:
a = np.array([[1,2], [3, 4], [5, 6]])
bol=a>2
bol

array([[False, False],
       [ True,  True],
       [ True,  True]])

In [21]:
a[bol]

array([3, 4, 5, 6])

In [22]:
a[a>2]

array([3, 4, 5, 6])

In [25]:
a = np.array([1, 8, 9, -3, 2, 4, 7, 9])

In [26]:
np.argmax(a)

2

In [27]:
np.argsort(a)

array([3, 0, 4, 5, 6, 1, 2, 7], dtype=int64)

In [29]:
a=np.array([1,2,3,np.NaN])

AttributeError: 'numpy.ndarray' object has no attribute 'fillna'

In [38]:
b

(array([], dtype=int64),)

In [40]:
import re

In [45]:
text='''
https://www.google.com
http://coreyms.com
https://youtube.com
https://www.nasa.gov
'''

pattern=re.compile(r'https?://(www\.)?(\w+)(\.\w+)')
matches=pattern.finditer(text)
for i in matches:
    print(i.group(2))

subbed=pattern.sub(r'\2\3',text)
print(subbed)

google
coreyms
youtube
nasa

google.com
coreyms.com
youtube.com
nasa.gov

In [48]:
phrase = 'sdsd..sssddd...sdddsddd...dsds...dsssss...sdddd'

patterns = [ 'sd*',     # s followed by zero or more d's
                'sd+',          # s followed by one or more d's
                'sd?',          # s followed by zero or one d's
                'sd{3}',        # s followed by three d's
                'sd{2,3}',      # s followed by two to three d's
                ]
multi_search(patterns,phrase)

['sd', 'sd', 's', 's', 'sddd', 'sddd', 'sddd', 'sd', 's', 's', 's', 's', 's', 's', 'sdddd']


['sd', 'sd', 'sddd', 'sddd', 'sddd', 'sd', 'sdddd']


['sd', 'sd', 's', 's', 'sd', 'sd', 'sd', 'sd', 's', 's', 's', 's', 's', 's', 'sd']


['sddd', 'sddd', 'sddd', 'sddd']


['sddd', 'sddd', 'sddd', 'sddd']

In [50]:
import numpy as np
a=np.array([[1,2,3,4],[5,6,7,8]])
for i in np.nditer(a):
    print(i)

1
2
3
4
5
6
7
8

In [52]:
np.array([1,2,3])+np.array([4])

array([5, 6, 7])

In [1]:
n=10
type(n)

int

In [7]:
#template

from string import Template
name="ram"
temp=Template("hey $name");
temp.substitute(name=name)

'hey ram'

In [4]:
print(temp)

<string.Template object at 0x000002340A927110>

In [8]:
import logging
logging.basicConfig(filename="example.log", format='%(asctime)s %(message)s', filemode="w")
logg=logging.getLogger()
logg.setLevel(logging.DEBUG)
logg.debug("helloo");

In [9]:
import os

In [10]:
os.getcwd()

'D:\\Data Science'

In [11]:
os.listdir()

[' data analysis ibm',
 '.git',
 '.ipynb_checkpoints',
 'example.log',
 'matplotlib',
 'numpy',
 'pandas',
 'prac.ipynb',
 'Python',
 'regular_expressions',
 'scipy.ipynb',
 'Toyota.csv',
 'webscraping']

In [12]:
os.mkdir("hello")

In [13]:
os.makedirs("ram/sita")

In [14]:
os.rmdir("hello")

In [17]:
os.rmdir("ram/sita")

In [18]:
os.removedirs("ram")

In [19]:
for path,fold,file in os.walk(os.getcwd()):
    print(path)
    print(fold)
    print(file)
    print("\n")

D:\Data Science
[' data analysis ibm', '.git', '.ipynb_checkpoints', 'matplotlib', 'numpy', 'pandas', 'Python', 'regular_expressions', 'webscraping']
['example.log', 'prac.ipynb', 'scipy.ipynb', 'Toyota.csv']


D:\Data Science\ data analysis ibm
['.ipynb_checkpoints']
['automobile.csv', 'data_analysis.ipynb']


D:\Data Science\ data analysis ibm\.ipynb_checkpoints
[]
['data_analysis-checkpoint.ipynb']


D:\Data Science\.git
['hooks', 'info', 'logs', 'objects', 'refs']
['COMMIT_EDITMSG', 'config', 'description', 'FETCH_HEAD', 'HEAD', 'index', 'ORIG_HEAD', 'packed-refs']


D:\Data Science\.git\hooks
[]
['applypatch-msg.sample', 'commit-msg.sample', 'fsmonitor-watchman.sample', 'post-update.sample', 'pre-applypatch.sample', 'pre-commit.sample', 'pre-merge-commit.sample', 'pre-push.sample', 'pre-rebase.sample', 'pre-receive.sample', 'prepare-commit-msg.sample', 'push-to-checkout.sample', 'sendemail-validate.sample', 'update.sample']


D:\Data Science\.git\info
[]
['exclude']


D:\Data Science\.git\logs
['refs']
['HEAD']


D:\Data Science\.git\logs\refs
['heads', 'remotes']
[]


D:\Data Science\.git\logs\refs\heads
[]
['main']


D:\Data Science\.git\logs\refs\remotes
['origin']
[]


D:\Data Science\.git\logs\refs\remotes\origin
[]
['main']


D:\Data Science\.git\objects
['08', '0b', '0d', '0f', '11', '15', '1a', '1b', '1c', '1d', '21', '23', '28', '29', '2c', '2d', '2f', '32', '34', '36', '38', '3c', '42', '45', '57', '5c', '5f', '63', '65', '66', '6c', '6d', '6e', '75', '79', '7b', '7c', '7d', '7e', '81', '82', '89', '8e', '98', 'a0', 'a1', 'a5', 'b5', 'b6', 'b8', 'be', 'c1', 'c4', 'c5', 'c6', 'd2', 'd7', 'da', 'dd', 'de', 'df', 'e1', 'e6', 'ed', 'f6', 'f8', 'info', 'pack']
[]


D:\Data Science\.git\objects\08
[]
['9723a4ec280a8dd4ff5b08d3131d995e191f9d']


D:\Data Science\.git\objects\0b
[]
['2ef7caae249a9a3eb2ce8ecb9f349f44edadde']


D:\Data Science\.git\objects\0d
[]
['858f3e0da0b808c1aa28e38e8a095176780d00', 'a3d18ea51c573bbf8c33db7ec1759d49579d39', 'd746095d61e12136dc5f80bdb37c0dba60916a']


D:\Data Science\.git\objects\0f
[]
['d6361dd2ddb056239aa8312c86654773c86c33']


D:\Data Science\.git\objects\11
[]
['ca2e26c43d51f0b35cf970579ee2273f8ce029']


D:\Data Science\.git\objects\15
[]
['fb88fc8673b82669a069459fb0f76f89b26b56']


D:\Data Science\.git\objects\1a
[]
['0002393b1fcf6925f9219842cd815bf6a6a0f0', '472666fe006db63284f89ec1d5e9364cb9e115', '577982b6405c910965ce2677ecdd5b57f57a47']


D:\Data Science\.git\objects\1b
[]
['0a17914db8e7a46fa4f2e2bc70c0550d09051c']


D:\Data Science\.git\objects\1c
[]
['45e997d6d9191fb1bdf13f0f699a1455190179']


D:\Data Science\.git\objects\1d
[]
['1093326239a0e3b82899d706d66b8c815a0557']


D:\Data Science\.git\objects\21
[]
['947c255450fbe53a061eeab5c75e3e9f6d5f51']


D:\Data Science\.git\objects\23
[]
['24f696bd37190bf78da8725470ebe731cae47e']


D:\Data Science\.git\objects\28
[]
['dd0666644544f8d52d3b16806a36cff04acc39']


D:\Data Science\.git\objects\29
[]
['31a0f097c1c797c2663f288fd8df6979fc33e6']


D:\Data Science\.git\objects\2c
[]
['833e44d1199a2cb9537f82e3370a37c5ecbd9d']


D:\Data Science\.git\objects\2d
[]
['d2cb3b283c10453cae55dde565c1062d55866f']


D:\Data Science\.git\objects\2f
[]
['7ece989aa17526f25a16faff120998ec88bf52']


D:\Data Science\.git\objects\32
[]
['0210efcfaa0bafd2b6edde41c88c7921feddc2']


D:\Data Science\.git\objects\34
[]
['6f471da79c1eee65d1e6de5043036aa507e2d2']


D:\Data Science\.git\objects\36
[]
['3fcab7ed6e9634e198cf5555ceb88932c9a245']


D:\Data Science\.git\objects\38
[]
['e2eac479a33df62cca3ace5e8f8e8cf276c872']


D:\Data Science\.git\objects\3c
[]
['2d0beaddd751395397e5eb880e8cee269c6cb3']


D:\Data Science\.git\objects\42
[]
['a191f1cadcccb125705429df9e31cec01f506c']


D:\Data Science\.git\objects\45
[]
['b6a612d12fec0bfc0c2378efce6c2ba125a52f', 'e2df42163d5a960d647c4cc7624bdbe8d2c622']


D:\Data Science\.git\objects\57
[]
['e93c2db6a99ce817a6db97248fda48fcb798bd']


D:\Data Science\.git\objects\5c
[]
['1f39288e3b2829889706ddc4d2368f5eae0f12']


D:\Data Science\.git\objects\5f
[]
['0b493ff278df762203590acdd6402646a4dbff']


D:\Data Science\.git\objects\63
[]
['8fa5c6ea8b6d65aa8ffe0ef6a9b68047ef1e3f']


D:\Data Science\.git\objects\65
[]
['19260886d6aa5b52747f6e9619056a9a58b59f']


D:\Data Science\.git\objects\66
[]
['5efeffd5847d64756205f490f44f3f025a0d73']


D:\Data Science\.git\objects\6c
[]
['cdbebf62cb0060d8449864fabf901574a3d452']


D:\Data Science\.git\objects\6d
[]
['0ef3368676e09b16851ef62df48f9134a01ce9']


D:\Data Science\.git\objects\6e
[]
['77427f16b477ee88c4fb82c502087f87ead94d']


D:\Data Science\.git\objects\75
[]
['ad6cd6eff3302e3dadb4811d09159243f84d43']


D:\Data Science\.git\objects\79
[]
['c95b368bcbf3f47332e680cdb31fca59190283']


D:\Data Science\.git\objects\7b
[]
['7ec42590be5e2e9f0d2b4542e8d03d19652ea9', 'f2e05d166d8a25a0532980ef451bd3293f9c0f']


D:\Data Science\.git\objects\7c
[]
['cc2a359ce101bd3e6d9a6ff35cb7189aecde3e']


D:\Data Science\.git\objects\7d
[]
['75283815f717e72ed93f55bf314030585b0e5b']


D:\Data Science\.git\objects\7e
[]
['4d0ef8331a750999b83c6f1ca01b9f81729131']


D:\Data Science\.git\objects\81
[]
['b838ffec41b68acdd72510c40558c4503e9c36']


D:\Data Science\.git\objects\82
[]
['3f95535c2ce0ce9211655f576a18231465cf12']


D:\Data Science\.git\objects\89
[]
['c2cca44eb0b59c51ca1eb2dbc909ef52bd3a7e']


D:\Data Science\.git\objects\8e
[]
['116777988c8b00a24cc5b0151522f0297e0b09']


D:\Data Science\.git\objects\98
[]
['9c5de4b247f1d9fcacd0921f67d398f6116ed0']


D:\Data Science\.git\objects\a0
[]
['6ca1620dd9a488ecf7ea4dc01268d9bcad5caa', 'aaf2390fbac42c9fd2e9a7a436ea4e433215fe']


D:\Data Science\.git\objects\a1
[]
['9fbb790d5aa6aacdaa3aba981edc64e268663e']


D:\Data Science\.git\objects\a5
[]
['f54d61dcb88f5ca5bcbf37ff6f11a20b9c1590']


D:\Data Science\.git\objects\b5
[]
['679e7412b2048fbe7bf6053cc11d4b1437c445']


D:\Data Science\.git\objects\b6
[]
['08c03fe1e2af3dca5f0f5ca0b27aacaec12fd5']


D:\Data Science\.git\objects\b8
[]
['36238370c16f3ba27c7a49df44b057ebdbf2d7']


D:\Data Science\.git\objects\be
[]
['853292e7f1efedfeb39805cf822449313034fb']


D:\Data Science\.git\objects\c1
[]
['7bb351afa308476ba3beab21ef2bdabbb6bbb6']


D:\Data Science\.git\objects\c4
[]
['3fcd8a16120b4fcee48229cc6ace08a4da7294']


D:\Data Science\.git\objects\c5
[]
['ca721c4330d104d50f29ec713dbc23e6d52228']


D:\Data Science\.git\objects\c6
[]
['47a45caf12b2703249503ff59af9f304c29a68']


D:\Data Science\.git\objects\d2
[]
['710e3ef65736b24390be152c6f79918ffb0661']


D:\Data Science\.git\objects\d7
[]
['ee20cba45613d5ed293879de776e77f6b4b3b2']


D:\Data Science\.git\objects\da
[]
['080153722d21e466af835af8c2f8c8881be8ed']


D:\Data Science\.git\objects\dd
[]
['9c65a9a497942f3bf5d8f1e0424e0ac5920308']


D:\Data Science\.git\objects\de
[]
['0f23fcf3988a1ea942c891e8cc5c0e9aa9796c']


D:\Data Science\.git\objects\df
[]
['aba7952a7527b6b8f62ca2e19bc1879153f915']


D:\Data Science\.git\objects\e1
[]
['8481e162b75587602e457fa786fb9b1e6726f7']


D:\Data Science\.git\objects\e6
[]
['9de29bb2d1d6434b8b29ae775ad8c2e48c5391']


D:\Data Science\.git\objects\ed
[]
['55d6caebe68b5e7cb6288411b64a74530760ad']


D:\Data Science\.git\objects\f6
[]
['0912a5a6dac6fcfa5356e6902df8a32d52ecd4']


D:\Data Science\.git\objects\f8
[]
['09742b78f4b4ce011d478dea92cb18894aff87']


D:\Data Science\.git\objects\info
[]
[]


D:\Data Science\.git\objects\pack
[]
[]


D:\Data Science\.git\refs
['heads', 'remotes', 'tags']
[]


D:\Data Science\.git\refs\heads
[]
['main']


D:\Data Science\.git\refs\remotes
['origin']
[]


D:\Data Science\.git\refs\remotes\origin
[]
['main']


D:\Data Science\.git\refs\tags
[]
[]


D:\Data Science\.ipynb_checkpoints
[]
['example-checkpoint.log', 'prac-checkpoint.ipynb']


D:\Data Science\matplotlib
['.ipynb_checkpoints']
['data.csv', 'matplotlib.ipynb', 'plot.png']


D:\Data Science\matplotlib\.ipynb_checkpoints
[]
['matplotlib-checkpoint.ipynb']


D:\Data Science\numpy
[]
['1_python_numpy_tutorial.ipynb', 'numpy.ipynb']


D:\Data Science\pandas
[]
[]


D:\Data Science\Python
['.ipynb_checkpoints', 'file_handling']
['datetime_module.ipynb', 'demo.py', 'ExceptionHandling.ipynb', 'functions.ipynb', 'logging.ipynb', 'name.py', 'oops.ipynb', 'os_module.ipynb', 'someimp.ipynb', 'test.log']


D:\Data Science\Python\.ipynb_checkpoints
[]
['datetime_module-checkpoint.ipynb', 'ExceptionHandling-checkpoint.ipynb', 'functions-checkpoint.ipynb', 'logging-checkpoint.ipynb', 'name-checkpoint.py', 'oops-checkpoint.ipynb', 'os_module-checkpoint.ipynb', 'someimp-checkpoint.ipynb', 'test-checkpoint.log']


D:\Data Science\Python\file_handling
['.ipynb_checkpoints']
['amazon_logo.png', 'copy.png', 'files.ipynb', 'targ.txt', 'test.txt']


D:\Data Science\Python\file_handling\.ipynb_checkpoints
[]
['files-checkpoint.ipynb']


D:\Data Science\regular_expressions
['.ipynb_checkpoints']
['47-Regular Expressions.ipynb', 'data.txt', 'emails.txt', 'regex.ipynb', 'simple.txt', 'snippets.txt', 'urls.txt']


D:\Data Science\regular_expressions\.ipynb_checkpoints
[]
['emails-checkpoint.txt', 'regex-checkpoint.ipynb', 'simple-checkpoint.txt', 'urls-checkpoint.txt']


D:\Data Science\webscraping
['.ipynb_checkpoints']
['books.csv', 'scrape.py', 'scrape_books.ipynb', 'scrape_file.ipynb', 'scrape_quotes.ipynb', 'simple.csv', 'simple.html']


D:\Data Science\webscraping\.ipynb_checkpoints
[]
['scrape-checkpoint.py', 'scrape_books-checkpoint.ipynb', 'scrape_file-checkpoint.ipynb', 'scrape_quotes-checkpoint.ipynb', 'simple-checkpoint.csv']

In [20]:
os.environ

environ{'ALLUSERSPROFILE': 'C:\\ProgramData',
        'APPDATA': 'C:\\Users\\MAGANTI S\\AppData\\Roaming',
        'CHOCOLATEYINSTALL': 'C:\\ProgramData\\chocolatey',
        'CHOCOLATEYLASTPATHUPDATE': '133521445944270499',
        'COMMONPROGRAMFILES': 'C:\\Program Files\\Common Files',
        'COMMONPROGRAMFILES(X86)': 'C:\\Program Files (x86)\\Common Files',
        'COMMONPROGRAMW6432': 'C:\\Program Files\\Common Files',
        'COMPUTERNAME': 'SRIKANTH-MAGANT',
        'COMSPEC': 'C:\\Windows\\system32\\cmd.exe',
        'DRIVERDATA': 'C:\\Windows\\System32\\Drivers\\DriverData',
        'EFC_9568': '1',
        'FPS_BROWSER_APP_PROFILE_STRING': 'Internet Explorer',
        'FPS_BROWSER_USER_PROFILE_STRING': 'Default',
        'HOMEDRIVE': 'C:',
        'HOMEPATH': '\\Users\\MAGANTI S',
        'LOCALAPPDATA': 'C:\\Users\\MAGANTI S\\AppData\\Local',
        'LOGONSERVER': '\\\\SRIKANTH-MAGANT',
        'NUMBER_OF_PROCESSORS': '4',
        'ONEDRIVE': 'C:\\Users\\MAGANTI S\\OneDrive',
        'ONEDRIVECONSUMER': 'C:\\Users\\MAGANTI S\\OneDrive',
        'OS': 'Windows_NT',
        'PATH': 'C:\\ProgramData\\anaconda3;C:\\ProgramData\\anaconda3\\Library\\mingw-w64\\bin;C:\\ProgramData\\anaconda3\\Library\\usr\\bin;C:\\ProgramData\\anaconda3\\Library\\bin;C:\\ProgramData\\anaconda3\\Scripts;C:\\Program Files\\Python312\\Scripts\\;C:\\Program Files\\Python312\\;C:\\Program Files\\Common Files\\Oracle\\Java\\javapath;C:\\Program Files (x86)\\Common Files\\Oracle\\Java\\javapath;C:\\Windows\\system32;C:\\Windows;C:\\Windows\\System32\\Wbem;C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\;C:\\Windows\\System32\\OpenSSH\\;C:\\MinGW\\bin;C:\\Program Files\\Java\\jdk-21\\bin;C:\\Program Files\\MySQL\\MySQL Server 8.0\\bin;C:\\Program Files\\Git\\cmd;C:\\Program Files\\Git\\mingw64\\bin;C:\\Program Files\\Git\\usr\\bin;C:\\Program Files\\nodejs\\;C:\\ProgramData\\chocolatey\\bin;C:\\Program Files\\MongoDB\\Server\\7.0\\bin;C:\\Program Files\\MySQL\\MySQL Shell 8.0\\bin\\;C:\\Users\\MAGANTI S\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Users\\MAGANTI S\\AppData\\Local\\Programs\\Microsoft VS Code\\bin;C:\\Users\\MAGANTI S\\AppData\\Roaming\\npm;C:\\Program Files\\mongosh\\',
        'PATHEXT': '.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC;.PY;.PYW',
        'PROCESSOR_ARCHITECTURE': 'AMD64',
        'PROCESSOR_IDENTIFIER': 'AMD64 Family 23 Model 24 Stepping 1, AuthenticAMD',
        'PROCESSOR_LEVEL': '23',
        'PROCESSOR_REVISION': '1801',
        'PROGRAMDATA': 'C:\\ProgramData',
        'PROGRAMFILES': 'C:\\Program Files',
        'PROGRAMFILES(X86)': 'C:\\Program Files (x86)',
        'PROGRAMW6432': 'C:\\Program Files',
        'PSMODULEPATH': '%ProgramFiles%\\WindowsPowerShell\\Modules;C:\\Windows\\system32\\WindowsPowerShell\\v1.0\\Modules',
        'PUBLIC': 'C:\\Users\\Public',
        'SESSIONNAME': 'Console',
        'SYSTEMDRIVE': 'C:',
        'SYSTEMROOT': 'C:\\Windows',
        'TEMP': 'C:\\Users\\MAGANT~1\\AppData\\Local\\Temp',
        'TMP': 'C:\\Users\\MAGANT~1\\AppData\\Local\\Temp',
        'USERDOMAIN': 'SRIKANTH-MAGANT',
        'USERDOMAIN_ROAMINGPROFILE': 'SRIKANTH-MAGANT',
        'USERNAME': 'MAGANTI SRIKANTH',
        'USERPROFILE': 'C:\\Users\\MAGANTI S',
        'WINDIR': 'C:\\Windows',
        'CONDA_PREFIX': 'C:\\ProgramData\\anaconda3',
        'PYDEVD_USE_FRAME_EVAL': 'NO',
        'JPY_SESSION_NAME': 'D:\\Data Science\\prac.ipynb',
        'JPY_INTERRUPT_EVENT': '3116',
        'IPY_INTERRUPT_EVENT': '3116',
        'JPY_PARENT_PID': '3092',
        'TERM': 'xterm-color',
        'CLICOLOR': '1',
        'FORCE_COLOR': '1',
        'CLICOLOR_FORCE': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://matplotlib_inline.backend_inline'}

In [21]:
x=os.path.join(os.getcwd(),"hel.js")

In [22]:
x

'D:\\Data Science\\hel.js'

In [23]:
os.path.basename(x)

'hel.js'

In [24]:
os.path.dirname(x)

'D:\\Data Science'

In [25]:
os.path.basename(x)

'hel.js'

In [26]:
os.path.dirname(x)

'D:\\Data Science'

In [27]:
os.path.exists(x)

False

In [28]:
def fun(*args):
    s=0
    for i in args:
        s=s+i
    return s
print(fun(1,2,3,4))

10

In [29]:
def fact(n):
    if(n==0 or n==1):
        return 1
    else:
     return n*fact(n-1)
print(fact(5))

120

In [33]:
try:
    print(2/1)
    try:
        i=int(input("enter input"))
        print(i)
    except ZeroDivisionError as e:
        print(e)
        
except Exception as e:
    print("error")
finally:
    print("executed always")

2.0

enter input p

error
executed always

In [34]:
import datetime

In [35]:
t=datetime.date(2024,4,21)

In [36]:
t

datetime.date(2024, 4, 21)

In [37]:
t.day

21

In [38]:
t.moth

AttributeError: 'datetime.date' object has no attribute 'moth'

In [39]:
t.month

4

In [40]:
t.weekday

In [41]:
t.weekday()

6

In [42]:
t.isoweekday()

7

In [43]:
t_d=datetime.timedelta(days=6)
print(datetime.datetime.today()+t_d)

2024-04-01 15:56:49.616864

In [44]:
import pytz

In [45]:
datetime.datetime.now(tz=pytz.UTC)

datetime.datetime(2024, 3, 26, 10, 27, 53, 830636, tzinfo=<UTC>)

In [59]:
datetime.datetime.strptime("2024/12/15","%Y/%m/%d")

datetime.datetime(2024, 12, 15, 0, 0)

In [54]:
dt_now=datetime.datetime.now(tz=pytz.UTC)

In [57]:
print(dt_now)

2024-03-26 10:32:09.077916+00:00

In [58]:
dt_now.astimezone(pytz.timezone('US/Mountain'))

datetime.datetime(2024, 3, 26, 4, 32, 9, 77916, tzinfo=<DstTzInfo 'US/Mountain' MDT-1 day, 18:00:00 DST>)

In [68]:

datetime.datetime.now().strftime("%a,%d %b %Y %H:%M:%S")

'Tue,26 Mar 2024 16:06:48'

In [69]:
l=datetime.datetime.now()
l.strftime("%a,%d %b %Y %H:%M:%S")

'Tue,26 Mar 2024 16:08:42'

In [9]:
class student:
    fname="ram"
    def __init__(self):
        # self.fname="srikanth"
        self.lname="maganti"
        
    def fullname(self):
        print(self.fname+" "+self.lname )
st1=student()
st1.fullname()
print(student.fname) #since

ram maganti
ram

In [21]:
class employee:
    pay_raise=1.5
    def __init__(self,amount):
        self.salary=amount
        self.pay_raise=10
    @classmethod
    def rise(cls,i):
        cls.pay_raise=i

    @staticmethod
    def evenodd(n):
        print("yes" if(n%2==0) else "no")
emp1=employee(3000)
emp1.rise(1.7)
print(employee.pay_raise)
print(emp1.pay_raise)

employee.rise(1.9)
print(employee.pay_raise)
print(emp1.pay_raise)
emp1.evenodd(4)

1.7
10
1.9
10
yes

In [27]:
#inheritance 
class person:
    def __init__(self,name):
        self.name=name
class student(person):
    def __init__(self,name,id):
        super().__init__(name)
        self.id=id
s1=student("srikanth",34)
p1=person("rama")
print(s1.name)

srikanth

In [30]:
class student:
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
    def __repr__(self):
        return "student({},{})".format(self.fname,self.lname)
    
s1=student("srikanth","maganti")
print(s1.__repr__())
print(s1)

student(srikanth,maganti)
student(srikanth,maganti)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("automobile.csv")

In [3]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [4]:
import csv

In [6]:
with open("automobile.csv","r")as dc:
    print(dc.read())

symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
2,?,audi,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,five,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
1,158,audi,gas,std,four,sedan,fwd,front,105.8,192.7,71.4,55.7,2844,ohc,five,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
1,?,audi,gas,std,four,wagon,fwd,front,105.8,192.7,71.4,55.7,2954,ohc,five,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,192.7,71.4,55.9,3086,ohc,five,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2,67.9,52.0,3053,ohc,five,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
2,192,bmw,gas,std,two,sedan,rwd,front,101.2,176.8,64.8,54.3,2395,ohc,four,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
0,192,bmw,gas,std,four,sedan,rwd,front,101.2,176.8,64.8,54.3,2395,ohc,four,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
0,188,bmw,gas,std,two,sedan,rwd,front,101.2,176.8,64.8,54.3,2710,ohc,six,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
0,188,bmw,gas,std,four,sedan,rwd,front,101.2,176.8,64.8,54.3,2765,ohc,six,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
1,?,bmw,gas,std,four,sedan,rwd,front,103.5,189.0,66.9,55.7,3055,ohc,six,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565
0,?,bmw,gas,std,four,sedan,rwd,front,103.5,189.0,66.9,55.7,3230,ohc,six,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
0,?,bmw,gas,std,two,sedan,rwd,front,103.5,193.8,67.9,53.7,3380,ohc,six,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
0,?,bmw,gas,std,four,sedan,rwd,front,110.0,197.0,70.9,56.3,3505,ohc,six,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,141.1,60.3,53.2,1488,l,three,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
1,98,chevrolet,gas,std,two,hatchback,fwd,front,94.5,155.9,63.6,52.0,1874,ohc,four,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6295
0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,158.8,63.6,52.0,1909,ohc,four,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6575
1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,157.3,63.8,50.8,1876,ohc,four,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572
1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,157.3,63.8,50.8,1876,ohc,four,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6377
1,118,dodge,gas,turbo,two,hatchback,fwd,front,93.7,157.3,63.8,50.8,2128,ohc,four,98,mpfi,3.03,3.39,7.6,102,5500,24,30,7957
1,148,dodge,gas,std,four,hatchback,fwd,front,93.7,157.3,63.8,50.6,1967,ohc,four,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6229
1,148,dodge,gas,std,four,sedan,fwd,front,93.7,157.3,63.8,50.6,1989,ohc,four,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692
1,148,dodge,gas,std,four,sedan,fwd,front,93.7,157.3,63.8,50.6,1989,ohc,four,90,2bbl,2.97,3.23,9.4,68,5500,31,38,7609
1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,157.3,63.8,50.6,2191,ohc,four,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
-1,110,dodge,gas,std,four,wagon,fwd,front,103.3,174.6,64.6,59.8,2535,ohc,four,122,2bbl,3.34,3.46,8.5,88,5000,24,30,8921
3,145,dodge,gas,turbo,two,hatchback,fwd,front,95.9,173.2,66.3,50.2,2811,ohc,four,156,mfi,3.60,3.90,7.0,145,5000,19,24,12964
2,137,honda,gas,std,two,hatchback,fwd,front,86.6,144.6,63.9,50.8,1713,ohc,four,92,1bbl,2.91,3.41,9.6,58,4800,49,54,6479
2,137,honda,gas,std,two,hatchback,fwd,front,86.6,144.6,63.9,50.8,1819,ohc,four,92,1bbl,2.91,3.41,9.2,76,6000,31,38,6855
1,101,honda,gas,std,two,hatchback,fwd,front,93.7,150.0,64.0,52.6,1837,ohc,four,79,1bbl,2.91,3.07,10.1,60,5500,38,42,5399
1,101,honda,gas,std,two,hatchback,fwd,front,93.7,150.0,64.0,52.6,1940,ohc,four,92,1bbl,2.91,3.41,9.2,76,6000,30,34,6529
1,101,honda,gas,std,two,hatchback,fwd,front,93.7,150.0,64.0,52.6,1956,ohc,four,92,1bbl,2.91,3.41,9.2,76,6000,30,34,7129
0,110,honda,gas,std,four,sedan,fwd,front,96.5,163.4,64.0,54.5,2010,ohc,four,92,1bbl,2.91,3.41,9.2,76,6000,30,34,7295
0,78,honda,gas,std,four,wagon,fwd,front,96.5,157.1,63.9,58.3,2024,ohc,four,92,1bbl,2.92,3.41,9.2,76,6000,30,34,7295
0,106,honda,gas,std,two,hatchback,fwd,front,96.5,167.5,65.2,53.3,2236,ohc,four,110,1bbl,3.15,3.58,9.0,86,5800,27,33,7895
0,106,honda,gas,std,two,hatchback,fwd,front,96.5,167.5,65.2,53.3,2289,ohc,four,110,1bbl,3.15,3.58,9.0,86,5800,27,33,9095
0,85,honda,gas,std,four,sedan,fwd,front,96.5,175.4,65.2,54.1,2304,ohc,four,110,1bbl,3.15,3.58,9.0,86,5800,27,33,8845
0,85,honda,gas,std,four,sedan,fwd,front,96.5,175.4,62.5,54.1,2372,ohc,four,110,1bbl,3.15,3.58,9.0,86,5800,27,33,10295
0,85,honda,gas,std,four,sedan,fwd,front,96.5,175.4,65.2,54.1,2465,ohc,four,110,mpfi,3.15,3.58,9.0,101,5800,24,28,12945
1,107,honda,gas,std,two,sedan,fwd,front,96.5,169.1,66.0,51.0,2293,ohc,four,110,2bbl,3.15,3.58,9.1,100,5500,25,31,10345
0,?,isuzu,gas,std,four,sedan,rwd,front,94.3,170.7,61.8,53.5,2337,ohc,four,111,2bbl,3.31,3.23,8.5,78,4800,24,29,6785
1,?,isuzu,gas,std,two,sedan,fwd,front,94.5,155.9,63.6,52.0,1874,ohc,four,90,2bbl,3.03,3.11,9.6,70,5400,38,43,?
0,?,isuzu,gas,std,four,sedan,fwd,front,94.5,155.9,63.6,52.0,1909,ohc,four,90,2bbl,3.03,3.11,9.6,70,5400,38,43,?
2,?,isuzu,gas,std,two,hatchback,rwd,front,96.0,172.6,65.2,51.4,2734,ohc,four,119,spfi,3.43,3.23,9.2,90,5000,24,29,11048
0,145,jaguar,gas,std,four,sedan,rwd,front,113.0,199.6,69.6,52.8,4066,dohc,six,258,mpfi,3.63,4.17,8.1,176,4750,15,19,32250
0,?,jaguar,gas,std,four,sedan,rwd,front,113.0,199.6,69.6,52.8,4066,dohc,six,258,mpfi,3.63,4.17,8.1,176,4750,15,19,35550
0,?,jaguar,gas,std,two,sedan,rwd,front,102.0,191.7,70.6,47.8,3950,ohcv,twelve,326,mpfi,3.54,2.76,11.5,262,5000,13,17,36000
1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,159.1,64.2,54.1,1890,ohc,four,91,2bbl,3.03,3.15,9.0,68,5000,30,31,5195
1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,159.1,64.2,54.1,1900,ohc,four,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6095
1,104,mazda,gas,std,two,hatchback,fwd,front,93.1,159.1,64.2,54.1,1905,ohc,four,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6795
1,113,mazda,gas,std,four,sedan,fwd,front,93.1,166.8,64.2,54.1,1945,ohc,four,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6695
1,113,mazda,gas,std,four,sedan,fwd,front,93.1,166.8,64.2,54.1,1950,ohc,four,91,2bbl,3.08,3.15,9.0,68,5000,31,38,7395
3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,2380,rotor,two,70,4bbl,?,?,9.4,101,6000,17,23,10945
3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,2380,rotor,two,70,4bbl,?,?,9.4,101,6000,17,23,11845
3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,2385,rotor,two,70,4bbl,?,?,9.4,101,6000,17,23,13645
3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,2500,rotor,two,80,mpfi,?,?,9.4,135,6000,16,23,15645
1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,177.8,66.5,53.7,2385,ohc,four,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8845
0,115,mazda,gas,std,four,sedan,fwd,front,98.8,177.8,66.5,55.5,2410,ohc,four,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8495
1,129,mazda,gas,std,two,hatchback,fwd,front,98.8,177.8,66.5,53.7,2385,ohc,four,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10595
0,115,mazda,gas,std,four,sedan,fwd,front,98.8,177.8,66.5,55.5,2410,ohc,four,122,2bbl,3.39,3.39,8.6,84,4800,26,32,10245
0,?,mazda,diesel,std,?,sedan,fwd,front,98.8,177.8,66.5,55.5,2443,ohc,four,122,idi,3.39,3.39,22.7,64,4650,36,42,10795
0,115,mazda,gas,std,four,hatchback,fwd,front,98.8,177.8,66.5,55.5,2425,ohc,four,122,2bbl,3.39,3.39,8.6,84,4800,26,32,11245
0,118,mazda,gas,std,four,sedan,rwd,front,104.9,175.0,66.1,54.4,2670,ohc,four,140,mpfi,3.76,3.16,8.0,120,5000,19,27,18280
0,?,mazda,diesel,std,four,sedan,rwd,front,104.9,175.0,66.1,54.4,2700,ohc,four,134,idi,3.43,3.64,22.0,72,4200,31,39,18344
-1,93,mercedes-benz,diesel,turbo,four,sedan,rwd,front,110.0,190.9,70.3,56.5,3515,ohc,five,183,idi,3.58,3.64,21.5,123,4350,22,25,25552
-1,93,mercedes-benz,diesel,turbo,four,wagon,rwd,front,110.0,190.9,70.3,58.7,3750,ohc,five,183,idi,3.58,3.64,21.5,123,4350,22,25,28248
0,93,mercedes-benz,diesel,turbo,two,hardtop,rwd,front,106.7,187.5,70.3,54.9,3495,ohc,five,183,idi,3.58,3.64,21.5,123,4350,22,25,28176
-1,93,mercedes-benz,diesel,turbo,four,sedan,rwd,front,115.6,202.6,71.7,56.3,3770,ohc,five,183,idi,3.58,3.64,21.5,123,4350,22,25,31600
-1,?,mercedes-benz,gas,std,four,sedan,rwd,front,115.6,202.6,71.7,56.5,3740,ohcv,eight,234,mpfi,3.46,3.10,8.3,155,4750,16,18,34184
3,142,mercedes-benz,gas,std,two,convertible,rwd,front,96.6,180.3,70.5,50.8,3685,ohcv,eight,234,mpfi,3.46,3.10,8.3,155,4750,16,18,35056
0,?,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,208.1,71.7,56.7,3900,ohcv,eight,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
1,?,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,199.2,72.0,55.4,3715,ohcv,eight,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400
1,?,mercury,gas,turbo,two,hatchback,rwd,front,102.7,178.4,68.0,54.8,2910,ohc,four,140,mpfi,3.78,3.12,8.0,175,5000,19,24,16503
2,161,mitsubishi,gas,std,two,hatchback,fwd,front,93.7,157.3,64.4,50.8,1918,ohc,four,92,2bbl,2.97,3.23,9.4,68,5500,37,41,5389
2,161,mitsubishi,gas,std,two,hatchback,fwd,front,93.7,157.3,64.4,50.8,1944,ohc,four,92,2bbl,2.97,3.23,9.4,68,5500,31,38,6189
2,161,mitsubishi,gas,std,two,hatchback,fwd,front,93.7,157.3,64.4,50.8,2004,ohc,four,92,2bbl,2.97,3.23,9.4,68,5500,31,38,6669
1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,157.3,63.8,50.8,2145,ohc,four,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689
3,153,mitsubishi,gas,turbo,two,hatchback,fwd,front,96.3,173.0,65.4,49.4,2370,ohc,four,110,spdi,3.17,3.46,7.5,116,5500,23,30,9959
3,153,mitsubishi,gas,std,two,hatchback,fwd,front,96.3,173.0,65.4,49.4,2328,ohc,four,122,2bbl,3.35,3.46,8.5,88,5000,25,32,8499
3,?,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,173.2,66.3,50.2,2833,ohc,four,156,spdi,3.58,3.86,7.0,145,5000,19,24,12629
3,?,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,173.2,66.3,50.2,2921,ohc,four,156,spdi,3.59,3.86,7.0,145,5000,19,24,14869
3,?,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,173.2,66.3,50.2,2926,ohc,four,156,spdi,3.59,3.86,7.0,145,5000,19,24,14489
1,125,mitsubishi,gas,std,four,sedan,fwd,front,96.3,172.4,65.4,51.6,2365,ohc,four,122,2bbl,3.35,3.46,8.5,88,5000,25,32,6989
1,125,mitsubishi,gas,std,four,sedan,fwd,front,96.3,172.4,65.4,51.6,2405,ohc,four,122,2bbl,3.35,3.46,8.5,88,5000,25,32,8189
1,125,mitsubishi,gas,turbo,four,sedan,fwd,front,96.3,172.4,65.4,51.6,2403,ohc,four,110,spdi,3.17,3.46,7.5,116,5500,23,30,9279
-1,137,mitsubishi,gas,std,four,sedan,fwd,front,96.3,172.4,65.4,51.6,2403,ohc,four,110,spdi,3.17,3.46,7.5,116,5500,23,30,9279
1,128,nissan,gas,std,two,sedan,fwd,front,94.5,165.3,63.8,54.5,1889,ohc,four,97,2bbl,3.15,3.29,9.4,69,5200,31,37,5499
1,128,nissan,diesel,std,two,sedan,fwd,front,94.5,165.3,63.8,54.5,2017,ohc,four,103,idi,2.99,3.47,21.9,55,4800,45,50,7099
1,128,nissan,gas,std,two,sedan,fwd,front,94.5,165.3,63.8,54.5,1918,ohc,four,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6649
1,122,nissan,gas,std,four,sedan,fwd,front,94.5,165.3,63.8,54.5,1938,ohc,four,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6849
1,103,nissan,gas,std,four,wagon,fwd,front,94.5,170.2,63.8,53.5,2024,ohc,four,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7349
1,128,nissan,gas,std,two,sedan,fwd,front,94.5,165.3,63.8,54.5,1951,ohc,four,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7299
1,128,nissan,gas,std,two,hatchback,fwd,front,94.5,165.6,63.8,53.3,2028,ohc,four,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7799
1,122,nissan,gas,std,four,sedan,fwd,front,94.5,165.3,63.8,54.5,1971,ohc,four,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7499
1,103,nissan,gas,std,four,wagon,fwd,front,94.5,170.2,63.8,53.5,2037,ohc,four,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7999
2,168,nissan,gas,std,two,hardtop,fwd,front,95.1,162.4,63.8,53.3,2008,ohc,four,97,2bbl,3.15,3.29,9.4,69,5200,31,37,8249
0,106,nissan,gas,std,four,hatchback,fwd,front,97.2,173.4,65.2,54.7,2324,ohc,four,120,2bbl,3.33,3.47,8.5,97,5200,27,34,8949
0,106,nissan,gas,std,four,sedan,fwd,front,97.2,173.4,65.2,54.7,2302,ohc,four,120,2bbl,3.33,3.47,8.5,97,5200,27,34,9549
0,128,nissan,gas,std,four,sedan,fwd,front,100.4,181.7,66.5,55.1,3095,ohcv,six,181,mpfi,3.43,3.27,9.0,152,5200,17,22,13499
0,108,nissan,gas,std,four,wagon,fwd,front,100.4,184.6,66.5,56.1,3296,ohcv,six,181,mpfi,3.43,3.27,9.0,152,5200,17,22,14399
0,108,nissan,gas,std,four,sedan,fwd,front,100.4,184.6,66.5,55.1,3060,ohcv,six,181,mpfi,3.43,3.27,9.0,152,5200,19,25,13499
3,194,nissan,gas,std,two,hatchback,rwd,front,91.3,170.7,67.9,49.7,3071,ohcv,six,181,mpfi,3.43,3.27,9.0,160,5200,19,25,17199
3,194,nissan,gas,turbo,two,hatchback,rwd,front,91.3,170.7,67.9,49.7,3139,ohcv,six,181,mpfi,3.43,3.27,7.8,200,5200,17,23,19699
1,231,nissan,gas,std,two,hatchback,rwd,front,99.2,178.5,67.9,49.7,3139,ohcv,six,181,mpfi,3.43,3.27,9.0,160,5200,19,25,18399
0,161,peugot,gas,std,four,sedan,rwd,front,107.9,186.7,68.4,56.7,3020,l,four,120,mpfi,3.46,3.19,8.4,97,5000,19,24,11900
0,161,peugot,diesel,turbo,four,sedan,rwd,front,107.9,186.7,68.4,56.7,3197,l,four,152,idi,3.70,3.52,21.0,95,4150,28,33,13200
0,?,peugot,gas,std,four,wagon,rwd,front,114.2,198.9,68.4,58.7,3230,l,four,120,mpfi,3.46,3.19,8.4,97,5000,19,24,12440
0,?,peugot,diesel,turbo,four,wagon,rwd,front,114.2,198.9,68.4,58.7,3430,l,four,152,idi,3.70,3.52,21.0,95,4150,25,25,13860
0,161,peugot,gas,std,four,sedan,rwd,front,107.9,186.7,68.4,56.7,3075,l,four,120,mpfi,3.46,2.19,8.4,95,5000,19,24,15580
0,161,peugot,diesel,turbo,four,sedan,rwd,front,107.9,186.7,68.4,56.7,3252,l,four,152,idi,3.70,3.52,21.0,95,4150,28,33,16900
0,?,peugot,gas,std,four,wagon,rwd,front,114.2,198.9,68.4,56.7,3285,l,four,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
0,?,peugot,diesel,turbo,four,wagon,rwd,front,114.2,198.9,68.4,58.7,3485,l,four,152,idi,3.70,3.52,21.0,95,4150,25,25,17075
0,161,peugot,gas,std,four,sedan,rwd,front,107.9,186.7,68.4,56.7,3075,l,four,120,mpfi,3.46,3.19,8.4,97,5000,19,24,16630
0,161,peugot,diesel,turbo,four,sedan,rwd,front,107.9,186.7,68.4,56.7,3252,l,four,152,idi,3.70,3.52,21.0,95,4150,28,33,17950
0,161,peugot,gas,turbo,four,sedan,rwd,front,108.0,186.7,68.3,56.0,3130,l,four,134,mpfi,3.61,3.21,7.0,142,5600,18,24,18150
1,119,plymouth,gas,std,two,hatchback,fwd,front,93.7,157.3,63.8,50.8,1918,ohc,four,90,2bbl,2.97,3.23,9.4,68,5500,37,41,5572
1,119,plymouth,gas,turbo,two,hatchback,fwd,front,93.7,157.3,63.8,50.8,2128,ohc,four,98,spdi,3.03,3.39,7.6,102,5500,24,30,7957
1,154,plymouth,gas,std,four,hatchback,fwd,front,93.7,157.3,63.8,50.6,1967,ohc,four,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6229
1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,167.3,63.8,50.8,1989,ohc,four,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692
1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,167.3,63.8,50.8,2191,ohc,four,98,2bbl,2.97,3.23,9.4,68,5500,31,38,7609
-1,74,plymouth,gas,std,four,wagon,fwd,front,103.3,174.6,64.6,59.8,2535,ohc,four,122,2bbl,3.35,3.46,8.5,88,5000,24,30,8921
3,?,plymouth,gas,turbo,two,hatchback,rwd,front,95.9,173.2,66.3,50.2,2818,ohc,four,156,spdi,3.59,3.86,7.0,145,5000,19,24,12764
3,186,porsche,gas,std,two,hatchback,rwd,front,94.5,168.9,68.3,50.2,2778,ohc,four,151,mpfi,3.94,3.11,9.5,143,5500,19,27,22018
3,?,porsche,gas,std,two,hardtop,rwd,rear,89.5,168.9,65.0,51.6,2756,ohcf,six,194,mpfi,3.74,2.90,9.5,207,5900,17,25,32528
3,?,porsche,gas,std,two,hardtop,rwd,rear,89.5,168.9,65.0,51.6,2756,ohcf,six,194,mpfi,3.74,2.90,9.5,207,5900,17,25,34028
3,?,porsche,gas,std,two,convertible,rwd,rear,89.5,168.9,65.0,51.6,2800,ohcf,six,194,mpfi,3.74,2.90,9.5,207,5900,17,25,37028
1,?,porsche,gas,std,two,hatchback,rwd,front,98.4,175.7,72.3,50.5,3366,dohcv,eight,203,mpfi,3.94,3.11,10.0,288,5750,17,28,?
0,?,renault,gas,std,four,wagon,fwd,front,96.1,181.5,66.5,55.2,2579,ohc,four,132,mpfi,3.46,3.90,8.7,?,?,23,31,9295
2,?,renault,gas,std,two,hatchback,fwd,front,96.1,176.8,66.6,50.5,2460,ohc,four,132,mpfi,3.46,3.90,8.7,?,?,23,31,9895
3,150,saab,gas,std,two,hatchback,fwd,front,99.1,186.6,66.5,56.1,2658,ohc,four,121,mpfi,3.54,3.07,9.31,110,5250,21,28,11850
2,104,saab,gas,std,four,sedan,fwd,front,99.1,186.6,66.5,56.1,2695,ohc,four,121,mpfi,3.54,3.07,9.3,110,5250,21,28,12170
3,150,saab,gas,std,two,hatchback,fwd,front,99.1,186.6,66.5,56.1,2707,ohc,four,121,mpfi,2.54,2.07,9.3,110,5250,21,28,15040
2,104,saab,gas,std,four,sedan,fwd,front,99.1,186.6,66.5,56.1,2758,ohc,four,121,mpfi,3.54,3.07,9.3,110,5250,21,28,15510
3,150,saab,gas,turbo,two,hatchback,fwd,front,99.1,186.6,66.5,56.1,2808,dohc,four,121,mpfi,3.54,3.07,9.0,160,5500,19,26,18150
2,104,saab,gas,turbo,four,sedan,fwd,front,99.1,186.6,66.5,56.1,2847,dohc,four,121,mpfi,3.54,3.07,9.0,160,5500,19,26,18620
2,83,subaru,gas,std,two,hatchback,fwd,front,93.7,156.9,63.4,53.7,2050,ohcf,four,97,2bbl,3.62,2.36,9.0,69,4900,31,36,5118
2,83,subaru,gas,std,two,hatchback,fwd,front,93.7,157.9,63.6,53.7,2120,ohcf,four,108,2bbl,3.62,2.64,8.7,73,4400,26,31,7053
2,83,subaru,gas,std,two,hatchback,4wd,front,93.3,157.3,63.8,55.7,2240,ohcf,four,108,2bbl,3.62,2.64,8.7,73,4400,26,31,7603
0,102,subaru,gas,std,four,sedan,fwd,front,97.2,172.0,65.4,52.5,2145,ohcf,four,108,2bbl,3.62,2.64,9.5,82,4800,32,37,7126
0,102,subaru,gas,std,four,sedan,fwd,front,97.2,172.0,65.4,52.5,2190,ohcf,four,108,2bbl,3.62,2.64,9.5,82,4400,28,33,7775
0,102,subaru,gas,std,four,sedan,fwd,front,97.2,172.0,65.4,52.5,2340,ohcf,four,108,mpfi,3.62,2.64,9.0,94,5200,26,32,9960
0,102,subaru,gas,std,four,sedan,4wd,front,97.0,172.0,65.4,54.3,2385,ohcf,four,108,2bbl,3.62,2.64,9.0,82,4800,24,25,9233
0,102,subaru,gas,turbo,four,sedan,4wd,front,97.0,172.0,65.4,54.3,2510,ohcf,four,108,mpfi,3.62,2.64,7.7,111,4800,24,29,11259
0,89,subaru,gas,std,four,wagon,fwd,front,97.0,173.5,65.4,53.0,2290,ohcf,four,108,2bbl,3.62,2.64,9.0,82,4800,28,32,7463
0,89,subaru,gas,std,four,wagon,fwd,front,97.0,173.5,65.4,53.0,2455,ohcf,four,108,mpfi,3.62,2.64,9.0,94,5200,25,31,10198
0,85,subaru,gas,std,four,wagon,4wd,front,96.9,173.6,65.4,54.9,2420,ohcf,four,108,2bbl,3.62,2.64,9.0,82,4800,23,29,8013
0,85,subaru,gas,turbo,four,wagon,4wd,front,96.9,173.6,65.4,54.9,2650,ohcf,four,108,mpfi,3.62,2.64,7.7,111,4800,23,23,11694
1,87,toyota,gas,std,two,hatchback,fwd,front,95.7,158.7,63.6,54.5,1985,ohc,four,92,2bbl,3.05,3.03,9.0,62,4800,35,39,5348
1,87,toyota,gas,std,two,hatchback,fwd,front,95.7,158.7,63.6,54.5,2040,ohc,four,92,2bbl,3.05,3.03,9.0,62,4800,31,38,6338
1,74,toyota,gas,std,four,hatchback,fwd,front,95.7,158.7,63.6,54.5,2015,ohc,four,92,2bbl,3.05,3.03,9.0,62,4800,31,38,6488
0,77,toyota,gas,std,four,wagon,fwd,front,95.7,169.7,63.6,59.1,2280,ohc,four,92,2bbl,3.05,3.03,9.0,62,4800,31,37,6918
0,81,toyota,gas,std,four,wagon,4wd,front,95.7,169.7,63.6,59.1,2290,ohc,four,92,2bbl,3.05,3.03,9.0,62,4800,27,32,7898
0,91,toyota,gas,std,four,wagon,4wd,front,95.7,169.7,63.6,59.1,3110,ohc,four,92,2bbl,3.05,3.03,9.0,62,4800,27,32,8778
0,91,toyota,gas,std,four,sedan,fwd,front,95.7,166.3,64.4,53.0,2081,ohc,four,98,2bbl,3.19,3.03,9.0,70,4800,30,37,6938
0,91,toyota,gas,std,four,hatchback,fwd,front,95.7,166.3,64.4,52.8,2109,ohc,four,98,2bbl,3.19,3.03,9.0,70,4800,30,37,7198
0,91,toyota,diesel,std,four,sedan,fwd,front,95.7,166.3,64.4,53.0,2275,ohc,four,110,idi,3.27,3.35,22.5,56,4500,34,36,7898
0,91,toyota,diesel,std,four,hatchback,fwd,front,95.7,166.3,64.4,52.8,2275,ohc,four,110,idi,3.27,3.35,22.5,56,4500,38,47,7788
0,91,toyota,gas,std,four,sedan,fwd,front,95.7,166.3,64.4,53.0,2094,ohc,four,98,2bbl,3.19,3.03,9.0,70,4800,38,47,7738
0,91,toyota,gas,std,four,hatchback,fwd,front,95.7,166.3,64.4,52.8,2122,ohc,four,98,2bbl,3.19,3.03,9.0,70,4800,28,34,8358

ValueError: DataFrame constructor not properly called!